<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仮想通貨</title>
</head>
<body>
    <div>
        <h1>ビットコイン(BTC)</h1>
        <p>世界で初めて分散化された暗号資産といわれていて、現在では取引量・時価総額ともに世界一を誇る</p>
        <p>あらかじめプログラムによって発行上限が約2100万枚と決められている</p>
        <p>これによりインフレを防ぎ、価値を保っている</p>
        <p>取引はマイニングにより監視されている</p>
        <h1>アルトコイン</h1>
        <p>ビットコイン以外の暗号資産は「アルトコイン」という</p>
        <h1>リップル(XRP)</h1>
        <p></p>
    </div>

</body>
</html>