<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仮想通貨</title>
</head>
<body>
    <div>
        <h1>ビットコイン(BTC)</h1>
        <p>世界で初めて分散化された暗号資産といわれていて、現在では取引量・時価総額ともに世界一を誇る</p>
        <p>あらかじめプログラムによって発行上限が約2100万枚と決められている</p>
        <p>これによりインフレを防ぎ、価値を保っている</p>
        <p>取引はマイニングにより監視されている</p>
        <h1>アルトコイン</h1>
        <p>ビットコイン以外の暗号資産は「アルトコイン」という</p>
        <h1>リップル(XRP)</h1>
        <p>低コストで送金できる</p>
        <p>直接的な取引がない2通貨間のブリッジ通貨として機能し、高い手数料や銀行口座を必要としない</p>
        <h1>イーサリアム(ETH)</h1>
        <p>イーサリアムとはブロックチェーンに「スマートコントラクト」という機能を組み込んだ、分散管理型プロットフォームのことを指す</p>
        <p>スマートコントラクトとは人の手を介さずに契約内容を自動で実行する仕組み</p>
        <p>ブロックチェーンに契約情報を書き込むことができるので「取引の経緯」や「契約内容」といった細かい情報を記録できる</p>
        <p>契約を自動で執行できる仕組みが組み込まれている</p>
        <p>中央に管理者無しに様々な取引が自動で実行される仕組みを作れる</p>
        <h1>イーサリアムクラシック(ETC)</h1>
        <p>イーサリアムがハッキングを受けたとき運営は取引情報をハッキングを受ける前の状態にするという処置をとった</p>
        <p>しかしこの介入は非中央集権的な理念に反するとして一部のコミュニティが反発した</p>
        <p>この時にイーサリアムのブロックチェーンを引き継ぐイーサリアムクラシックが生まれた</p>
        <p>ハッキングに強い高度なセキュリティとプログラムを埋め込めるその使用から今後IoTでの躍進が期待される</p>
        <h1>リスク(LSK)</h1>
        <p>どの場所からでも業務処理が可能になる分散型アプリケーションを採用している</p>
        <p>契約情報の記述言語に「JavaScript」を採用しているので開発に参入しやすくなっている</p>
        <p>契約内容とそれを実行するための条件をあらかじめプログラムしておけば条件が整ったタイミングで自動的に契約を実行できる</p>
        <h1>ライトコイン(LTC)</h1>
        <p>ビットコインより高速に取引が出来るので、手数料を抑える事が出来る</p>
        <p>仮想通貨の取引所など第三者を経由することなく異なるブロックチェーン間の仮想通貨同士を直接交換できる</p>
        <h1>ビットコインキャッシュ(BCH)</h1>
        <p>ビットコインより取引スピードが速くなり送金手数料が安く抑えられる</p>
        <h1>販売所とは</h1>
        <p>運営会社が保有するコインをユーザーが提示された価格で売買する仕組み</p>
        <h1>取引所とは</h1>
        <p>ユーザー同士が仮想通貨を売買する</p>
        <h1>販売所と取引所の違い</h1>
        <p>取引所はユーザー同士のマッチングが上手くいかないと取引が成立しない</p>
        <p>販売所は取引所より手数料がかかってしまうのがデメリット</p>
        <p>初心者は取引所だと仮想通貨の値動きがどのように反映されているのか分かりづらいため、販売所で取引する方が安心ん</p>
        <h1>現物取引とは</h1>
        <p>手持ちの仮想通貨とほかの仮想通貨とを交換することを指す</p>
        <p>取引手数料が掛かるが時価での販売が可能</p>
        <p>資産額の範囲内でしか取引できないので取引によって資産を減らすリスクはあっても借金を負う心配がないのは、レバレッジ取引との違い</p>
        <p>レバレッジ取引と違って値上がり時にしか利益を見込めない方法であるため、相場を見極めて値上がりのチャンスをうかがうのがいい</p>
        <p>その一方でリスクを最小限に抑えて取引るのに最適</p>
        <h1>指値注文とは？</h1>
        <p>買う値段か売る値段のどちらかを指定して注文する方法</p>
        <p>買い注文の場合は指値以下、売り注文の場合は指値以上の値段にならないと成立しない</p>
        <h1>成行注文とは？</h1>
        <p>売買の値段を指定せずに注文する方法</p>
        <p>買い注文の場合はその時点の最低価格の売り注文に対応、売り注文の場合は最高額の買い注文に対応して注文が成立する</p>
        <h1>レバレッジ取引とは？</h1>
        <p>取引所に証拠金となる通貨を預けて仮想通貨を借り受けてそれを運用する方法</p>
        <p>日本円を証拠金として買いと売りを両方行う事が出来る</p>
        <p>現物取引は必ず買いから始めなければならないがレバレッジ取引は売りから始められる</p>
        <p>仮想通貨が値下がり中でも利益が出る</p>
        <p>売買数が極端に少なくなることで取引が成立しなくなり、売りたいときに売れなくなる流動性リスクが生じる</p>
        <p>取引にかかる手数料のほかに借入手数料がかかり、利益が生じた場合に利益手数料がかかる</p>
        <p>借りた期間内に運用した後は、借りた分を返さなければならない</p>
        <h1>出来高とは</h1>
        <p>取引が成立した金額の累計を指し、基本的にチャートの一番下に表示される</p>
        <p>出来高が多いというのは投資家などがオーダーを活発に出し、取引が次々に成立していることを意味する</p>
        <h1>仮想通貨を購入する際の注意点</h1>
        <p>ボラティリティ（価格変動性）が大きい</p>
        <h1>仮想通貨を運用するためのポイント</h1>
        <h1>仮想通貨の動向を知っておく</h1>
        <p>安定性のある通貨を選ぶ、取引所・販売所が扱っている仮想通貨であれば一定の信頼が担保されている</p>
        <h1>時価総額に注目する</h1>
        <p>時価総額とは発行済みの通貨の数に通貨の単価をかけたものであり、どの仮想通貨に人気が集まっているかを図る指標になる</p>
        <h1>流動性を見極める</h1>
        <p>流動性が高いと頻繁に取引が行われている状態で、相場が安定化している</p>
        <h1>分散投資について</h1>
        <p>１種類のみだけでなくほかの銘柄も買う</p>
        <p>ただしリスクの高い銘柄ばかりでは駄目</p>
        <h1>アプリでレートをこまめにチェック</h1>
        <p>24時間変動するレートをスマホアプリでチェック</p>
        <h1>余裕資金の範囲で投資する</h1>
        <p>仮想通貨に限らず投資全般に共通する鉄則です</p>
        <p>生活費などは使わないようにしましょう</p>
        <h1>少額取引から始める</h1>
        <p>株やFXと比べてビットコインは少額から取引できるのがメリット</p>
        <p>500円から購入できるので初心者でも安心</p>
        <h1>まずは現物取引でレバレッジ取引は慣れてから</h1>
        <p>レバレッジ取引は少ない元手で大きなリターンが狙えるが、失敗すれば大きな借金を抱える可能性があるので現物取引からスタートしたほうがいい</p>
        <h1>「暗号資産の財布」ウォレットとは</h1>
        <p>クラウド上にウォレットを作り暗号資産のデータを保存する事でハッキングによる暗号資産の流失を防ぐ</p>
        <p>販売所・取引所が備えているウォレット以外にもPCのデスクトップに専用ソフトをインストールするウォレットや外付けのハードウェアを受かったウォレットもある</p>
        <h1>ドルコスト平均法</h1>
        <p>毎月など決まったタイミングで同じ購入額を買い続ける手法</p>
        <p>購入タイミングを分割することで、急騰・急落のリスクを分散する事が出来るメリットがあるので長期投資に向いている</p>
        
        
        
        
        
        <h1>仮想通貨の税金について</h1>
        <p>仮想通貨で年間２０万円以上の所得があれば確定申告が必要となる</p>
        <p>仮想通貨を売却（日本円に換金）した場合、その売却価格と取引価格との差が所得金額になる</p>
        <p>120万円でビットコイン（BTC）を2BTC購入し、年内に0.5BTCを40万円で売却した場合の所得額は以下のとおりです。
            40万円-（120万円÷2BTC）x 0.5BTC = 10万円 → 所得額は10万円</p>
        <p>仮想通貨で商品を購入した場合、その取引時点での商品価格と仮想通貨の取引価格との差が所得金額になる</p>
        <p>120万円でビットコイン（BTC）を2BTC購入し、年内に15万円の商品を0.2BTCで購入した場合の所得額は以下のとおりです。

            15万円 -（120万円÷2BTC）x 0.2BTC = 30,000円 → 所得額は30,000円
            
            また、100万円でビットコイン（BTC）を10BTC購入した後に、1BTC＝20万円に値上がりし、100万円（5BTC）で商品を買った場合、所得額は以下のようになります。
            
            100万円 -（100万円÷10BTC）x 5BTC = 50万円 → 所得額は50万円</p>
        <p>仮想通貨と仮想通貨の交換の場合、交換した仮想通貨のその時点での取得価格と保有していた仮想通貨の取得価格との差が所得金額になる</p>
        <p>例えば、120万円でビットコイン（BTC）を2BTC購入し、年内にほかの仮想通貨を100万円分買うために1BTCを支払った場合の所得額は、以下のとおりになります。

            100万円 -（120万円÷2BTC）x 1BTC = 40万円 → 所得額は40万円</p>
        <p>確定申告における所得の計算方法は移動平均法と総平均法がある</p>
        <h1>移動平均法とは</h1>
        <p>仮想通貨を購入する度に計算する方法で購入額の合計を仮想通貨の数量で割ることで単価を算出する</p>
        <p>そして売却時の価格から購入時の単価を差し引いた金額が所得となる</p>
        <h1>総平均法とは</h1>
        <p>一年間に取得した仮想通貨の取得価格の総額を、取得した仮想通貨の数量合計で割ることで算出する</p>
        <p>計算が簡単だが誤差が生じやすい計算法</p>
        <p>国税庁は移動平均法を推奨している</p>
        <p>一度選択した計算方法は変更する事が出来ない</p>
        <h1>取引記録はこまめに保存を</h1>
        <p>仮想通貨の所得金額の算出には取引所の管理画面から取引履歴と確認しながら行いましょう</p>
        <h1>仮想通貨は雑所得に区分される</h1>
        <p>株やFXの先物取引によって損失が出た場合は、翌年以降3年間にわたって、損失の繰り越しが可能ですが、仮想通貨の損失は繰り越しができません。1年前に1,000万円の損失があったとしても、今年に入って1,000万円の利益が出た場合に課税される額は1,000万円となります</p>
        <p>株式などは確定申告によって損益を相殺する事が出来るが仮想通貨はできない</p>
        <p>雑所得は総合課税の対象となるため、給与所得などと合計しその金額によって所得税率が決まる</p>
        <p>仮想通貨は累進課税の総合課税が適用なので1800万円超4000マ年以下の利益に対する累進課税率は40%となり4000万円を超える大きな収益を上げた場合には累進課税率は45%</p>
        <table>
            <tr><td>課税される所得金額</td><td>税率</td><td>控除額</td></tr>
            <tr><td>195万円以下</td><td>5%</td><td>0円</td></tr>
            <tr><td>195万円越330万円以下</td><td>10%</td><td>9万7,500円</td></tr>
            <tr><td>330万円超695万円以下</td><td>20%</td><td>42万7,500円</td></tr>
            <tr><td>695万円超900万円以下</td><td>23%</td><td>63万6,000円</td></tr>
            <tr><td>900万円超1800万円以下</td><td>33%</td><td>153万6,000円</td></tr>
            <tr><td>1800万円超4000万円以下</td><td>40%</td><td>279万6,000円</td></tr>
            <tr><td>4000万円超</td><td>45%</td><td>479万6,000円</td></tr>
        </table>
        <h1>マイニングの報酬は必要経費を計上出来る</h1>
        <p>マイニングの報酬は雑所得として計上し、マイニングに必要なPCや電気代は必要経費として認められている</p>
        <h1>年間の収支がマイナスだった場合</h1>
        <p>課税対象にならない</p>
        <p>同じ雑所得の区分の中であれば損益を相殺できる</p>
        <h1>今年の赤字を来年に繰り越せるか</h1>
        <p>仮想う通貨で生計を立てていて、事業所得であるという程度の規模であれば、赤字となった翌年に収益が上がった場合、確定申告をして赤字を相殺できる</p>
        <h1>確定申告に必要な書類</h1>
        <p>申告書、源泉徴収票（会社勤めの方）、仮想通貨の取引に関する書類</p>
        <p>確定申告は毎年2月16日～3月15日までの期限内に行うことが義務付けられている（平日のみ）</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>

</body>
</html>